{% load static %}
{% load socialaccount %}

<div class="modal" id="login-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h2 class="modal-card-title">Login</h2>
            <button class="delete" aria-label="close" id="modal-close"></button>
        </header>
        <center>
            <section class="modal-card-body">
                <br>
                <a href="{% provider_login_url "google" %}" class="button is-primary is-medium">
                    <img src="{% static 'images/google.png' %}">
                    Login with Google
                </a>
                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="button is-primary is-medium">
                    <img src="{% static 'images/facebook.png' %}">
                    Login with Facebook
                </a>
                <br>
                <br>
            </section>
        </center>
{#        <footer class="modal-card-foot">#}
{#        </footer>#}
    </div>
</div>