{% extends 'common/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container" id="login-card-container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <hr>
                <a href="{% provider_login_url "google" %}" class="nav-link active btn btn-primary">
                    <img src="{% static 'images/google.png' %}">
                    Login with Google
                </a>
                <br>
                <a class="nav-link active btn btn-primary">
                    <img src="{% static 'images/facebook.png' %}">
                    Login with Facebook
                </a>
                <br>
                <a class="nav-link active btn btn-primary">
                    <img src="{% static 'images/apple.png' %}">
                    Login with Apple
                </a>
                <br>
            </div>
        </div>
    </div>
{% endblock %}

