.modal-card {
    border-radius: 0px !important;
}

.modal-card-title {
    color: #FFFFFF !important;
}

.modal-card-head {
    background-color: #787A91 !important;
    border-radius: 0px !important;
}

.modal-card-foot {
    background-color: #FFFFFF !important;
}

section > a {
    background-color: #EEEEEE !important;
    color: #000000 !important;
    border: 2px solid #000000 !important;
    border-radius: 10px !important;
}

section > a:hover {
    background-color: #FFFFFF !important;
}